# Ваша почта Google
EMAIL_USER=acidminder@gmail.com

# Пароль приложений (App Password) - 16 символов, без пробелов
# Инструкция: https://support.google.com/accounts/answer/185833
EMAIL_PASS=paoepaszymoxfjwm

# Подключение к PostgreSQL
DATABASE_URL="postgresql://user:password@localhost:5432/fleur?schema=public"
